/* style.css */


/* video */

/* style product-card */
.product-card {
  padding: 0;
  position: relative;
  height: 250px;
}

.product-card small {
  position: absolute;
  bottom: 60px;
  right: 20px;
}

.product-card .list-group-item {
  height: 200px;
}

.product-card .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* style product-card fine */